@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.editor {
  padding: 5px;
  border: 1px solid #e1e1e1;
  outline: none;
}
